In [28]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [29]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=60)
lngs = np.random.uniform(low=-180.000, high=180.000, size=60)
lat_lngs = zip(lats, lngs)

In [30]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [31]:
from citipy import citipy

In [32]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

49

# 6.2.6

In [33]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime
import requests

In [34]:
from config import weather_api_key
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [35]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [36]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an e
# rror is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | san marcos
Processing Record 2 of Set 1 | sri aman
Processing Record 3 of Set 1 | bethel
Processing Record 4 of Set 1 | sibolga
Processing Record 5 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 6 of Set 1 | codrington
Processing Record 7 of Set 1 | hovd
Processing Record 8 of Set 1 | asau
Processing Record 9 of Set 1 | bowen
Processing Record 10 of Set 1 | vaini
Processing Record 11 of Set 1 | kanadukathan
Processing Record 12 of Set 1 | gizo
Processing Record 13 of Set 1 | belushya guba
City not found. Skipping...
Processing Record 14 of Set 1 | hobart
Processing Record 15 of Set 1 | mataura
Processing Record 16 of Set 1 | shymkent
Processing Record 17 of Set 1 | auki
Processing Record 18 of Set 1 | rikitea
Processing Record 19 of Set 1 | albany
Processing Record 20 of Set 1 | guerrero negro
Processing Record 21 of Set 1 | abnub
Processing Record 22 of Set 1 | aklavik
Processing Record 23 of Set 1 | punta arenas
Processing Record 24 of Set 1 | saint-philippe
Processing Record 25 of Set 1 | new norfolk
Processing Record 26 of Set 1 | arraial do cabo
Processing Record 27 of Set 1 | souillac
Processing Record 28 of Set 1 | naze
Processing Record 29 of Set 1 | kearney
Processing Record 30 of Set 1 | yellowknife
Processing Record 31 of Set 1 | barentsburg
City not found. Skipping...
Processing Record 32 of Set 1 | ixtapa
Processing Record 33 of Set 1 | miri
Processing Record 34 of Set 1 | ushuaia
Processing Record 35 of Set 1 | meulaboh
Processing Record 36 of Set 1 | torbay
Processing Record 37 of Set 1 | hermanus
Processing Record 38 of Set 1 | cherskiy
Processing Record 39 of Set 1 | yanam
Processing Record 40 of Set 1 | port elizabeth
Processing Record 41 of Set 1 | ribeira grande
Processing Record 42 of Set 1 | komsomolskiy
Processing Record 43 of Set 1 | dikson
Processing Record 44 of Set 1 | beringovskiy
Processing Record 45 of Set 1 | oussouye
Processing Record 46 of Set 1 | puerto ayora
Processing Record 47 of Set 1 | kapaa
Processing Record 48 of Set 1 | nizhneyansk
City not found. Skipping...
Processing Record 49 of Set 1 | blagoyevo
-----------------------------
Data Retrieval Complete
-----------------------------

6.2.7

In [37]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,San Marcos,33.1434,-117.1661,88.86,23,0,12.66,US,2022-03-01 22:20:31
1,Sri Aman,1.2376,111.4621,75.25,94,93,0.00,MY,2022-03-01 22:20:31
2,Bethel,41.3712,-73.4140,43.56,75,40,9.22,US,2022-03-01 22:18:48
3,Sibolga,1.7427,98.7792,75.63,85,96,2.82,ID,2022-03-01 22:20:32
4,Codrington,-38.2667,141.9667,68.05,85,82,10.89,AU,2022-03-01 22:20:32

In [38]:
city_data_df.columns

Index(['City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [39]:
new_cols = ['City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed']
city_data_df = city_data_df[new_cols]
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,San Marcos,US,2022-03-01 22:20:31,33.1434,-117.1661,88.86,23,0,12.66
1,Sri Aman,MY,2022-03-01 22:20:31,1.2376,111.4621,75.25,94,93,0.00
2,Bethel,US,2022-03-01 22:18:48,41.3712,-73.4140,43.56,75,40,9.22
3,Sibolga,ID,2022-03-01 22:20:32,1.7427,98.7792,75.63,85,96,2.82
4,Codrington,AU,2022-03-01 22:20:32,-38.2667,141.9667,68.05,85,82,10.89

In [40]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")